// color palette - these colors will be the color swatches of the Colors section

$color-1: #010318; // Midnight Purple
$color-2: #403f85; // Dark Purple
$color-3: #754382; // Pastel Purple
$color-4: #ffdb57; // Canary Yellow
$color-5: #ff996c; // Pastel Orange

// additional colors

$success: #6fce72; // green
$alert: $color-3;  // red
