@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Architects+Daughter");
p {
  font-size: 105%;
  font-family: "Merriweather", serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Architects Daughter"; }

h1 {
  font-size: 300%; }

h2 {
  font-size: 155%; }

h3 {
  font-size: 155%; }

a {
  font-size: 105%;
  font-family: "Merriweather", serif; }

/* -------------------------------- 

xNavigation 

-------------------------------- */
.cd-primary-nav a:link {
  text-decoration: underline;
  color: #403f85; }

.cd-primary-nav a:hover {
  color: lightblue; }

.cd-primary-nav a:active {
  color: blue; }

.cd-secondary-nav a {
  color: lightgray;
  text-decoration: underline; }
  .cd-secondary-nav a:hover {
    color: lightgoldenrodyellow; }
  .cd-secondary-nav a:visited {
    color: rebeccapurple; }

.Hlink a {
  color: lightslategray; }
  .Hlink a:hover {
    color: lightcoral; }
  .Hlink a:active {
    text-decoration: underline; }

*, *::before, *::after {
  content: '';
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  margin: 0;
  height: 100%;
  color: whitesmoke; }

h3, p {
  padding: 16px 25px;
  margin: 0; }

.page-wrapper {
  height: 100%; }

h1 {
  text-align: center; }

aside {
  width: 90%;
  margin: 30px auto;
  border: 1px solid black; }

div {
  border-bottom: 1px solid black; }

#zen-supporting {
  border-bottom: none; }

header::before {
  border-radius: 50%;
  background-color: Orange;
  content: "";
  height: 50vh;
  width: 50vh;
  z-index: 0;
  display: flex;
  position: fixed;
  left: 43%;
  top: 15%; }

header {
  height: 30vh;
  width: 100%;
  text-align: center;
  padding: 5px;
  background-image: -ms-linear-gradient(top, #754382 0%, #FF996C 50%, #ffdb57 100%);
  background-image: -moz-linear-gradient(top, #754382 0%, #FF996C 50%, #ffdb57 100%);
  background-image: -o-linear-gradient(top, #754382 0%, #FF996C 50%, #ffdb57 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #754382), color-stop(50, #FF996C), color-stop(100, #ffdb57));
  background-image: -webkit-linear-gradient(top, #754382 0%, #FF996C 50%, #ffdb57 100%);
  background-image: linear-gradient(to bottom, #754382 0%, #FF996C 50%, #ffdb57 100%); }

.summary {
  background: #be7077;
  width: 100%;
  position: relative;
  padding: 25px 0 70px;
  z-index: 1; }

.summary::before {
  content: '';
  height: 100%;
  width: 100%;
  background: url("images/first-mountain.svg") no-repeat center;
  position: absolute;
  background-size: cover;
  top: -50%;
  z-index: -1; }

.preamble {
  background: #95577d;
  position: relative;
  padding: 25px 0 70px;
  z-index: 1; }

.preamble::before {
  content: '';
  height: 100%;
  width: 100%;
  background: url("images/second-mountain.svg") no-repeat center;
  position: absolute;
  background-size: cover;
  top: -60%;
  z-index: -1; }

.explanation {
  background: #874e7f;
  position: relative;
  padding: 25px 0 70px;
  z-index: 1; }

.explanation::before {
  content: '';
  height: 100%;
  width: 100%;
  background: url("images/second-hill.svg") no-repeat center;
  position: absolute;
  background-size: cover;
  top: -65%;
  z-index: -1; }

.participation {
  background: #56325f;
  position: relative;
  padding: 25px 0 70px;
  z-index: 1; }

.participation::before {
  content: '';
  height: 100%;
  width: 100%;
  background: url("images/green-treeline2.svg") no-repeat center;
  position: absolute;
  background-size: cover;
  top: -40%;
  z-index: -1; }

.benefits {
  background: #3e2344;
  position: relative;
  padding: 25px 0 70px;
  z-index: 1; }

.benefits::before {
  content: '';
  height: 100%;
  width: 100%;
  background: url("images/green-treeline.svg") no-repeat center;
  position: absolute;
  background-size: cover;
  top: -50%;
  z-index: -1; }

.requirements {
  background: #2b1a30;
  position: relative;
  padding: 25px 0 70px;
  z-index: 1; }

.requirements::before {
  content: '';
  height: 100%;
  width: 100%;
  background: url("images/dark-treeline.svg") no-repeat center;
  position: absolute;
  background-size: cover;
  top: -40%;
  z-index: -1; }

footer::before {
  content: '';
  height: 100%;
  width: 100%;
  background: url("images/green-treeline-flip.svg") no-repeat center;
  position: absolute;
  background-size: cover;
  top: -40%; }

footer {
  background-image: linear-gradient(to top, #0a0811 0%, #FF996C 80%, #ffdb57 100%);
  height: 700px;
  position: relative; }

.sidebar {
  border: none;
  text-align: center; }
  .sidebar ul {
    list-style-type: none; }

div {
  border: none; }

aside {
  position: relative;
  top: -680px; }

@media screen and (min-width: 850px) {
  p, h3 {
    width: 100%;
    max-width: 850px;
    margin: 0 auto; }

  header {
    height: 45vh; }

  .summary {
    padding-bottom: 90px; }

  .summary::before {
    height: 110%; }

  .preamble {
    padding-bottom: 100px; }

  .preamble::before {
    top: -65%; }

  .explanation {
    padding: 25px 0 100px; }

  .explanation::before {
    top: -75%; }

  .participation {
    padding: 25px 0 110px; }

  .participation::before {
    top: -45%; }

  .benefits {
    padding: 25px 0 100px; }

  .benefits::before {
    top: -40%; } }

/*# sourceMappingURL=style.css.map */
