*, *::before, *::after {
	content: '';
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

h3, p{
		padding: 16px;
		margin: 0;
}
.page-wrapper {
	height: 100%;
//	width: 85%
//	max-width: 850px;
//	margin: auto;
}

h1 {
	text-align: center;
}

aside {
	width: 90%;
	margin: 30px auto;
	border: 1px solid black;
}

div {
	border-bottom: 1px solid black;
}

#zen-supporting {
	border-bottom: none;
}

header {
	height: 25vh;
	padding: 5px;
	background-image: -ms-linear-gradient(top, #754382 0%, #FF996C 50%, #ffdb57 100%);

	background-image: -moz-linear-gradient(top, #754382 0%, #FF996C 50%, #ffdb57 100%);

	background-image: -o-linear-gradient(top, #754382 0%, #FF996C 50%, #ffdb57 100%);

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #754382), color-stop(50, #FF996C), color-stop(100, #ffdb57));

	background-image: -webkit-linear-gradient(top, #754382 0%, #FF996C 50%, #ffdb57 100%);

	background-image: linear-gradient(to bottom, #754382 0%, #FF996C 50%, #ffdb57 100%);
}

.summary {
	position: absolute;
	width: 100%;
	height: 400px;
	top: 0%;
	background: url("images/first-mountain.svg") no-repeat center;
	background-size: cover;
	margin: 0;
	z-index: 1;
	& p {
		position: relative;
		top: 200px;
	}
}

.preamble {
	position: absolute;
	width: 100%;
	height: 500px;
	top: 125px;
	background: url("images/second-mountain.svg") no-repeat center;
	background-size: cover;
	margin: 0;
	padding-bottom: 50px;
	z-index: 3;
	& p, & h3 {
		position: relative;
		top: 300px;
		width: 100%;
		background: #754382;
	}
}

.supporting{
	position: absolute;
	width: 100%;
	height: 600px;
	top:500px;
	background: url("images/first-hill.svg") no-repeat center;
	background-size: cover;
	margin: 0;
	padding-bottom: 50px;
	z-index: 5;
	& p, & h3 {
		position: relative;
		top: 300px;
		width: 100%;
		background: #4a2a52;
	}
}
//
//.summary::before {
//	content: '';
//	display: block;
//	height: 100vw;
//	width: 100%;
//	border: blue 2px solid;
//	background: url("images/first-mountain.svg") no-repeat center;
//	background-size: cover;
//	z-index: -2;
//	position: absolute;
//	top: -37vh;
//	margin: 0;
//}
//
//.summary::after {
//	content: '';
//	display: block;
//	height: 100vw;
//	width: 100%;
//	border: blue 2px solid;
//	background: url("images/second-mountain.svg") no-repeat bottom;
//		background-size: 50%;
//	background-size: 50%;
//	background-size: 110%;
//	z-index: -1;
//	position: absolute;
//	top: -40vh;
//	margin: 0;
//}




