.page-wrapper {
	width: 85%;
	max-width: 850px;
	margin: auto;
}

h1 {
	text-align: center;
}

aside {
	width: 90%;
	margin: auto;
	border: 1px solid black;
}

div {
	border-bottom: 1px solid black;
}

#zen-supporting {
	border-bottom: none;
}